.h1{font-family: 'Aladin', cursive;
    }
.p1{font-size:40px;}
.p{font-size:30px;}
.game{font-family: 'VT323', monospace;
font-size:30px;}
body{background-color:skyblue;}
.h3{font-family: 'Pacifico', cursive;
    }
.skyblue{font-family: 'Srisakdi', cursive;
font-size:30px;
    }   